<ion-view view-title="Impressora">
    <ion-content class="bgGeral padding">
        <div class="text-center" style="margin-top: 50px">
            <img src="img/logo.png" width="321px" class="img-responsive">
        </div>
        <br/>
        <div class="item item-text-wrap">
            <h4 class="text-center" style="color: #333; font-size: 1em !important;">Escolha seu atendimento com base nas categorias!</h4>
        </div>
        <div style="margin-top: 30px;">
            <button type="button" class="button button-block button-balanced mybutton" ng-click="normal()">
                <strong> Recepção </strong>
            </button>
        </div>
        <div style="margin-top: 40px">
            <button type="button" class="button button-block button-balanced mybutton" ng-click="entregaExames()">
                <strong>Entrega de Exames </strong>
            </button>
        </div>
        <div style="margin-top: 40px">
            <button type="button" class="button button-block button-balanced mybutton" ng-click="agendamento()">
                <strong> Agendamento </strong> 
            </button>
        </div>

    </ion-content>
</ion-view>