<ion-view view-title="Impressora" >
    <ion-content class="bgGeral">
        <div class="padding" style="margin-top: 20px"></div>
        <div class="card">
            <div class="item item-divider mySpace" >
                <a class="button button-block button-balanced mybutton" ng-click="normal()">
                    Normal
                </a>
            </div>
            <div class="item item-text-wrap  mySpace">
                <a class="button button-full button-calm mybutton" ng-click="preferencial()">
                    Preferencial
                </a>
            </div>
            <div class="item item-divider  mySpace">
                <a class="button button-full button-assertive mybutton" ng-click="exam()">
                    Exames
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>