<ion-view view-title="Impressora">
    <ion-content class="bgGeral padding">
        <div class="text-center" style="margin-top: 60px">
            <img src="img/logo.png" width="321px" class="img-responsive">
        </div>
        <br/>
        <div class="item item-text-wrap">
            <h2 class="text-center" style="color: #333">
                <Strong> {{ option.toUpperCase() }} </Strong>
            </h2>
        </div>
        <div style="margin-top: 30px;">
            <button type="button" class="button button-block button-balanced mybutton" ng-click="normal()">
                <strong> Normal </strong>
            </button>
        </div>
        <div style="margin-top: 40px">
            <button type="button" class="button button-block button-assertive mybutton" ng-click="preferencial()">
                <strong>Prioridade</strong>
            </button>
        </div>
        <div style="margin-top: 100px">
            <button type="button" class="button button-block button-dark" ng-click="back()">
                <strong> Voltar ao Menu Anterior </strong>
            </button>
        </div>
    </ion-content>
</ion-view>